/* ----google font style----------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



/*--------------
 common utilities
--------------- */

body {
    font-family: 'Poppins', sans-serif;
    width: 1200px;
    margin: 0 auto;
}




/* -------------
top banner style
--------------- */

.top-banner {
    display: flex;
    align-items: center;
    background-color: black;
    margin-top: 100px;
    padding-top: 20px;
    border-radius: 25px;
    margin-bottom: 0;
}

.banner-title {
    width: 500px;
    margin: 0 auto;
    color: white;
}

.banner-img {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.banner-img img {
    height: 500px;
}

.banner-title h1 {
    font-size: 60px;
}

.link-btn {
    background-color: yellowgreen;
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-top: 20px;
}

.link-btn:hover {
    background-color: greenyellow;
}


/* -------------
blog post section
---------------- */
.blog-post-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.blog-section {
    margin-bottom: 70px;
}

.blog-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
}

.post {
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px gainsboro;
    border-radius: 5px;
}

.post img {
    width: 250px;
    height: 150px;
}

.transfer-btn {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
}

.icon {
    display: flex;
}

.clock {
    margin-right: 30px;
}

.fa-regular {
    margin-right: 5px;
}

.button-section {
    width: 300px;
    height: 250px;
    background-color: black;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.button-section a {
    text-decoration: none;
    color: black;
}

.btn-link {
    width: 250px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
}


#blog {
    background-color: yellowgreen;

}

/* ------------
blog page 
-------------- */
.match {
    display: flex;
    width: 250px;
    height: 150px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.match-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.match-details h2,
p {
    margin: 0;
}

.match-details p {
    margin-bottom: 20px;
}

.match img {
    width: 80px;
    height: 50px;
}

.match-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;

}

.match-post {
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px gainsboro;
    border-radius: 5px;
}

.match-section {
    margin-bottom: 70px;
}

/* ----------
Footer section
------------ */
.footer {
    background-color: black;
}

.goal h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    color: white;

}

.goal hr {
    width: 800px;
    border: 1px solid rgba(255, 255, 255, 0.1);

}

.small-container {
    display: flex;
    justify-content: center;
}

.small-texts {
    color: gray;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
    margin-bottom: 100px;


}

.small-texts h3 {
    font-weight: 300;
}